* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;

}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Navbar-Style */
header{
    background-color: #FFFFFF;
}
nav {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto ;
    padding: 0;
    margin-top: 16px;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    /* margin: 16px; */

}
nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
nav .nav-btn .btn{
    padding: 12px 16px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Banner-Style */
#banner{
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1px;
    text-align: center;

    background-image: url(/assets/hero-bg.png);
    background-position: center;
    background-size: cover;
   
}
.banner-content{
    margin: 0;
    max-width: 1200px;
}
.banner-content .top-btn{
    padding: 8px 12px;
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
    border-radius: 1000px;
}
.banner-heading h1{
    max-width: 1360px;
    width: 100%;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
    
}
.banner-heading #sub-heading{
    color: #30B868;
}
.banner-paragraph p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
.banner-content .banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
    
    
}
.btn-1, .btn-2{
    padding: 12px 16px;
    display:inline-flex;
    gap: 8px;
    font-size: 16px;
    line-height: 1;
    border-radius: 4px;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    
}
.btn-1{
    background-color: #30B868;
}
.btn-1 .arrow img{
    width: 16px;
    height: auto;
}
.btn-2{
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
}
.btn-2 .play i{
    font-size: 18px;
}

/* Notes-section */
#notes-section{
    width: 100%;
    max-width: 1600px;
    min-height: 450px; 
    background-color: antiquewhite;
    padding-bottom: 10px;
    align-items: center; 
    margin: 0 auto;
}
.notes h1{
    max-width: 1200px;
    width: 100%;
    align-items: center;
    color:#001931;
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 50px;
}
.notes p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

/*cards */
.cards{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center; 
    gap:24px;
    
    max-width: 1200px;
    width: 100%;
    margin: 44px auto 0;
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
}
.cards .img-bg{
    height: 60px;
    width: 60px;
    background-color:#F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin: 0 auto;
    

}
.cards img{
    height: 32px;
    width: 32px;;
   
}

.cards .card-type{
    padding: 24px;
    width: 100%;
    max-width: 280px;
    border-radius: 8px;
    box-shadow: 0px 6px 50px #bbb7b7;
    box-sizing: border-box;
    
    
}
.card-type h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    line-height: auto;
}
.card-type p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom:24px;
    line-height: 20px;
}

