/* body */


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
}
nav {
    width: 95%;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(245, 201, 147); */
    margin: 16px;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    /* margin: 16px; */

}
nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    padding: 12px 16px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    /* margin: 16px; */
}