* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;

}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Navbar-Style */
header{
    background-color: #FFFFFF;
}
nav {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto ;
    padding: 0;
    margin-top: 16px;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    /* margin: 16px; */

}
nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
nav .nav-btn .btn{
    padding: 12px 16px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Banner-Style */
#banner{
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1px;
    text-align: center;

    background-image: url(/assets/hero-bg.png);
    background-position: center;
    background-size: cover;
   
}
.banner-content{
    margin: 0;
    max-width: 1200px;
}
.banner-content .top-btn{
    padding: 8px 12px;
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
    border-radius: 1000px;
}
.banner-heading h1{
    max-width: 1360px;
    width: 100%;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
    
}
.banner-heading #sub-heading{
    color: #30B868;
}
.banner-paragraph p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
.banner-content .banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
    
    
}
.btn-1, .btn-2{
    padding: 12px 16px;
    display:inline-flex;
    gap: 8px;
    font-size: 16px;
    line-height: 1;
    border-radius: 4px;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    
}
.btn-1{
    background-color: #30B868;
}
.btn-1 .arrow img{
    width: 16px;
    height: auto;
}
.btn-2{
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
}
.btn-2 .play i{
    font-size: 18px;
}

/* Notes-section */
#notes-section{
    width: 100%;
    max-width: 1600px;
    min-height: 450px; 
    background-color: antiquewhite;
    padding-bottom: 10px;
    align-items: center; 
    margin: 0 auto;
}
.notes h1{
    max-width: 1200px;
    width: 100%;
    align-items: center;
    color:#001931;
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 50px;
}
.notes p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

/*cards */
.cards{
    display: flex;
    justify-content: center; 
    gap:24px;
    
    max-width: 1200px;
    width: 100%;
    margin: 44px auto 0;
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
}
.cards .img-bg{
    height: 60px;
    width: 60px;
    background-color:#F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin: 0 auto;
    

}
.cards img{
    height: 32px;
    width: 32px;;
   
}

.cards .card-type{
    padding: 24px;
    width: 100%;
    max-width: 280px;
    border-radius: 8px;
    box-shadow: 0px 6px 50px #bbb7b7;
    box-sizing: border-box;
    
    
}
.card-type h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    line-height: auto;
}
.card-type p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom:24px;
    line-height: 20px;
}
/* second brain section */
#second-brain{
    background-color: #FFFFFF;
    max-width: 1600px;
    margin: 0 auto;
}
#second-brain .brain{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.brain .image{
    height: auto;
    width: auto;
    box-sizing: border-box;
}
.description{
    margin: 120px 60px;
}
.solution .sol-head{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;

}
.solution .heading{
    font-size: 30px;
    font-weight: bold;
    color: #001931;
}
.solution .paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
}
.description .task-list ul{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    color: #001931;
}

/* Think Section */
#think-container{
    /* margin-top: 120px; */
    max-width: 1600px;
    background-color: #FFFFFF;
    min-height: 500px;
    margin: 0 auto;
}
#think-container .think{
    max-width: 1120px;
    width: 100%;
    background-color: #F7F6F2;
    min-height: 300px;
    text-align: center;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    padding: 80px 40px;

}
.think .think-clear h3{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.think .think-clear p{
    font-size: 16x;
   font-weight: 400;
   margin-bottom: 24px;
}
.think-button .btn button{
    margin: 0 auto;
    margin-top: 24px;
    background-color: #30B868;
    color: #FFFFFF;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight:600;
}
.option{
    display: flex;
    margin-top: 16px;
   
}
.option p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.option li{
    display: inline;
    margin-left: 10px;
    color: #627382;
    
}


/* footer section */
.footer{
    background-color: #001931;
    color:#FFFFFF;

    max-width: 1600px;
    width: 100%;
    margin: 0 auto;

}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px 80px 20px;
    /* padding: 120px; */
    max-width: 1200px;
    width: 100%;
}
hr{
    margin: 0 120px 0;
}

.social .links p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.social .icons a img{
    height: 20px;
    width:20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-top: 16px;   
   cursor: pointer;
}
.footer-bottom{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 30px auto;
}

/* footer{
    max-width: 1600px;
    width: 100%;
    min-height: 350px;
    margin: 0 auto;
    background-color: #001931;
    border: 1px solid red ;
    
}


/* .footer-section {
    max-width: 1200px;
    width: 100%;
    margin: 120px;
    border: 1px solid rgb(185, 31, 31);
    padding: 120px;
} */
.footer-section .footer-head{
    max-width: 1200px;
    width: 100%;
    /* margin: 0 auto; */
    border: #FFFFFF;


    display: flex;
    justify-content: space-between;


}

 */
